---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <div class="site-nav">
    <Hamburger />
    <Navigation />
    </div>
    <div class="theme-toggle">
    <ThemeIcon />
    </div>
  </nav>
</header>